.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0; /* Make the menu sticky at the top */
    right: -250px; /* Initially off the screen */
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: right 0.5s ease-in-out, width 0.5s ease-in-out; /* Transition both right and width */
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;

  }
  
  .openbtn {
    /* Add styles for the open button if needed */
  }
  